//- head
//-   title from
//- form(action='/myaction' method='post')
//-   label(for='name') Name:
//-   input#name(type='text' name='name' placeholder='Enter your full name')
//-   br
//-   br
//-   label(for='email') Email:
//-   input#email(type='email' name='email' placeholder='Enter your email address')
//-   br
//-   br
//-   input(type='submit' value='Send message')
html
  head
    title= title
  body
    h1= message